Repository Digital-Voting-Team/Digital-Voting, pull requests merged in 2023-03, with the labels that each got.

#12 And front end files, project restructure
  back_end/.gitignore
  back_end/block/block.go
  back_end/block/block_test.go
  back_end/block/body.go
  back_end/block/header.go
  back_end/block/witness.go
  back_end/go.mod
  back_end/go.sum
  back_end/merkle_tree/merkle_tree.go
  back_end/merkle_tree/merkle_tree_test.go
  back_end/signature/curve/curve.go
  back_end/signature/curve/montgomery_curve.go
  back_end/signature/curve/point.go
  back_end/signature/keys/from_address.go
  back_end/signature/keys/key_pair.go
  back_end/signature/keys/key_pair_test.go
  back_end/signature/keys/kp_interface.go
  back_end/signature/signatures/ring_signature/ring_signature.go
  back_end/signature/signatures/ring_signature/ring_signature_test.go
  back_end/signature/signatures/single_signature/single_signature.go
  back_end/signature/signatures/single_signature/single_signature_test.go
  back_end/signature/signatures/utils/math_utils.go
  back_end/signature/strkey/main.go
  back_end/signer/block_signer.go
  back_end/signer/transaction_signer.go
  back_end/transactions/transaction.go
  back_end/transactions/transaction_specific.go
  back_end/transactions/tx_account_creation.go
  back_end/transactions/tx_group_creation.go
  back_end/transactions/tx_vote.go
  back_end/transactions/tx_vote_anonymus.go
  back_end/transactions/tx_voting_creation.go
  front_end/.gitignore
  front_end/README.md
  front_end/index.html
  front_end/package-lock.json
  front_end/package.json
  front_end/public/favicon.ico
  front_end/src/App.vue
  front_end/src/assets/base.css
  front_end/src/assets/logo.svg
  front_end/src/assets/main.css
  front_end/src/components/HelloWorld.vue
  front_end/src/components/TheWelcome.vue
  front_end/src/components/WelcomeItem.vue
  front_end/src/components/icons/IconCommunity.vue
  front_end/src/components/icons/IconDocumentation.vue
  front_end/src/components/icons/IconEcosystem.vue
  front_end/src/components/icons/IconSupport.vue
  front_end/src/components/icons/IconTooling.vue
  front_end/src/main.js
  front_end/src/router/index.js
  front_end/src/views/AboutView.vue
  front_end/src/views/HomeView.vue
  front_end/vite.config.js
  front_end/voting_form.html
Labels: enhancement, new feature, front end

#13 Implemented feature of merkle tree for transactions as well as tests …
  back_end/block/block.go
  back_end/block/body.go
  back_end/merkle_tree/transactions_merkle_tree.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/signer/transaction_signer.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_body.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
  back_end/transactions/transaction_specific.go
  back_end/transactions/tx_account_creation.go
  back_end/transactions/tx_vote.go
  back_end/transactions/tx_vote_anonymus.go
  back_end/transactions/tx_voting_creation.go
Labels: enhancement, new feature, back end

#14 Feature/validation
  back_end/identity_provider/identity_provider.go
  back_end/merkle_tree/transactions_merkle_tree.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/signature/keys/key_pair.go
  back_end/signature/signatures/ring_signature/ring_signature.go
  back_end/signature/signatures/single_signature/single_signature.go
  back_end/signature/signatures/single_signature/single_signature_test.go
  back_end/signer/block_signer.go
  back_end/signer/transaction_signer.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_body.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
  back_end/validation/transaction_validation.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, new feature, back end

#15 Feature/blockchain
  back_end/block/block.go
  back_end/blockchain/blockchain.go
  back_end/cmd/main/main.go
  back_end/identity_provider/identity_provider.go
  back_end/validation/validator.go
Labels: enhancement, new feature, back end

#16 Feature/account
  back_end/account/account.go
  back_end/transaction/transaction_specific/tx_account_creation.go
Labels: enhancement, new feature, back end

#17 Fix cycle import in tests
  back_end/block/block_test.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/signature/keys/key_pair_test.go
  back_end/signer/block_signer.go
Labels: bug, help wanted, back end

#18 Added enums for transactions
  back_end/cmd/main/main.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator_test.go
Labels: enhancement, back end

#19 Added aliases for specific datatypes used in project
  back_end/account/account.go
  back_end/block/block.go
  back_end/block/block_test.go
  back_end/block/witness.go
  back_end/identity_provider/identity_provider.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/signature/curve/curve.go
  back_end/signature/curve/montgomery_curve.go
  back_end/signature/curve/point.go
  back_end/signature/keys/key_pair.go
  back_end/signature/keys/key_pair_test.go
  back_end/signature/signatures/ring_signature/ring_signature.go
  back_end/signature/signatures/ring_signature/ring_signature_test.go
  back_end/signature/signatures/single_signature/single_signature.go
  back_end/signature/signatures/single_signature/single_signature_test.go
  back_end/signer/block_signer.go
  back_end/signer/transaction_signer.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_body.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, back end, fix

#20 Added feature of constructing key pair from your private key in byte array representation
  back_end/signature/keys/from_address.go
  back_end/signature/keys/key_pair.go
  back_end/signature/keys/key_pair_test.go
  back_end/signature/keys/kp_interface.go
  back_end/signature/signatures/ring_signature/ring_signature_test.go
  back_end/signature/signatures/single_signature/single_signature_test.go
Labels: enhancement, new feature, back end, fix

#21 Implemented actualizing logic for identity provider
  back_end/cmd/main/main.go
  back_end/identity_provider/identity_provider.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, help wanted, question, new feature, back end, fix

#22 Feature/indexed votings
  back_end/indexed_data/votings.go
  back_end/indexed_data/votings_test.go
  back_end/merkle_tree/merkle_tree_test.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
Labels: documentation, enhancement, new feature, back end

#23 Fix of getting hash of transactions
  back_end/indexed_data/votings.go
  back_end/indexed_data/votings_test.go
  back_end/merkle_tree/transactions_merkle_tree.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
Labels: enhancement, back end, fix

#24 Implemented indexed database of groups
  back_end/indexed_data/groups.go
  back_end/indexed_data/groups_test.go
Labels: enhancement, new feature, back end

#25 Feature/demonstration
  back_end/blockchain/blockchain.go
  back_end/cmd/main/main.go
  back_end/identity_provider/identity_provider.go
  back_end/indexed_data/groups_test.go
  back_end/merkle_tree/transactions_merkle_tree_test.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, question, back end
