Repository Digital-Voting-Team/Digital-Voting, pull requests merged in 2023-05, with the labels that each got.

#27 Feature/transactions
  back_end/cmd/main/main.go
  back_end/indexed_data/votings.go
  back_end/node/account_manager/account_manager.go
  back_end/node/indexed_data/group_dto.go
  back_end/node/indexed_data/groups.go
  back_end/node/indexed_data/groups_test.go
  back_end/node/indexed_data/voting_dto.go
  back_end/node/indexed_data/votings.go
  back_end/node/indexed_data/votings_test.go
  back_end/node/node.go
  back_end/transaction/transaction.go
  back_end/transaction/transaction_body.go
  back_end/transaction/transaction_interface.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
  back_end/validation/transaction_validation.go
  back_end/validation/transaction_validation_test.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, back end

#26 Feature/blockchain
  back_end/block/block.go
  back_end/blockchain/blockchain.go
  back_end/blockchain/blockchain_test.go
  back_end/cmd/main/main.go
  back_end/go.mod
  back_end/go.sum
  back_end/validation/validator.go
Labels: enhancement, back end

#28 Feature/block
  back_end/block/block.go
  back_end/block/witness.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, new feature, back end

#29 Implemented tx_JSON data structure to unmarshall transaction in JSON-…
  back_end/transaction/transaction_json/tx_json.go
  back_end/transaction/transaction_json/tx_json_test.go
  back_end/transaction/transaction_specific/tx_vote.go
  back_end/transaction/transaction_specific/tx_vote_anonymus.go
  back_end/validation/transaction_validation_test.go
Labels: enhancement, front end, back end

#30 Feature/user api
  back_end/block/block.go
  back_end/block/block_test.go
  back_end/block/body.go
  back_end/blockchain/blockchain.go
  back_end/cmd/main/main.go
  back_end/go.mod
  back_end/go.sum
  back_end/network_node/network_node.go
  back_end/node/account_manager/account_manager.go
  back_end/node/node.go
  back_end/signer/block_signer.go
  back_end/transaction/transaction_json/tx_json.go
  back_end/transaction/transaction_json/tx_json_test.go
  back_end/transaction/transaction_specific/tx_account_creation.go
  back_end/transaction/transaction_specific/tx_group_creation.go
  back_end/transaction/transaction_specific/tx_voting_creation.go
  back_end/user_api/user_api.go
  back_end/validation/mem_pool.go
  back_end/validation/validator.go
  back_end/validation/validator_test.go
Labels: enhancement, new feature, back end, fix

#31 Added functions to sign transactions with private key (and ring of pu…
  pkg/signer/transaction_signer.go
Labels: enhancement, new feature, front end, back end
